@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }
    header {
        border-bottom: 1px solid #f1f1f1;
        position: sticky;
        top: 0;
    }

    header::after {
        position: absolute;
        content: url(burger.svg);
        top:25px;
        left: 40px;
        border: 1px solid #f1f1f1;
        cursor: pointer;
    }

    /* header::after:hover {
        transform: scale(1.05);
        background-color: wheat;
    }

    header.active header::after {
        background-color: red;
    } */

    nav {
        flex-direction: column;
        align-items:flex-start;
        position: fixed;
        width: 200px;
        border-right: 1px solid #f1f1f1;
        border-top: 1px solid #f1f1f1;
        top: 96px;
        left: -200px;
        transition: transform 0.2s ease-out;
    }

    nav.active {
        transform: translateX(200px);
        transition: transform 0.2s ease-out;
    }

    nav a {
        text-align: left;
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 750px) {
    .title-elements img {
        width: 150px;
    }
}


@media screen and (max-width: 599px) {
    h1 {
        font-size: 1.5rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .title-elements img {
        width: 120px;
        padding-bottom: 5px;
    }

    .title-elements {
        flex-direction: column;
    }

    header::after {
        top:15px;
    }
}

@media screen and (max-width: 499px){
    .container {
        max-width: 1000px;
        margin: 50px auto;
        padding: 50px 0px 50px 36px;
    }
    code {
        margin-left: -40px;
    }

}
