*, ::after, ::before, a, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.construction {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: linear-gradient(90deg, #0c4b33 0%, #187f58 50%, #0c4b33 100%);
    color: #25c488;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
    width: 100%;
    background: linear-gradient(90deg, #0c4b33 0%, #187f58 50%, #0c4b33 100%);

}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background: linear-gradient(90deg, #0c4b33 0%, #187f58 50%, #0c4b33 100%);
    border-bottom: 1px solid #f1f1f1;

}

nav a {
    color: #f1f1f1;
    padding: 15px 20px;
    text-align: center;
}

nav a:hover {
    background-color: #0c4b33;
}

.title-elements {
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    padding: 20px;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 0px #000000, -2px -2px 0px #000000;
}



section {
    background-color: #181d27;
    border-radius: 50px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding: 5px 20px;
    margin-bottom: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0c4b33;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 50px;
}

li.subtitle{
   padding: 5px;
   font-size: 1.5rem;
   letter-spacing: 1px;
    color: #f1f1f1;
}

ul li {
    list-style-type: "- ";
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #25c488;
    padding: 5px;
}

ul li:first-child {
    margin-top: 20px;
}

ul li:last-child {
    margin-bottom: 25px;
}

code {
    /* width: max-content; */
    display: block;
    padding: 10px;
    background-color: #5c5c5c ;
    border-radius: 5px;
    color: #f1f1f1;
    margin: 15px 0 10px;
    font-size: 1rem;
}